*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    position: absolute;
    top: 30%;
    left: 32%;
    color:rgb(235, 157, 56);
}

.head{
    font-size: 30px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.cpyBtn{
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(91, 127, 236);
}